.blackjackEngine h2 { 
    margin: 0.25em 0 0 0; 
}

.blackjackEngine a { 
    color: #4fc3f7; 
}

.blackjackEngine a:hover { 
    color: #3f99c2; 
    cursor: pointer;
}

.blackjackEngine .blackjackEngineContent { 
    display: flex; 
    flex-direction: row; 
    align-items: center;
    justify-content: space-between;
    max-width: 90%; 
    margin: 1em auto; 
}

.blackjackEngine .blackjackEngineContent img {
    width: 30em; 
    height: 20em; 
}

.blackjackEngine .blackjackEngineContent #blackjackEngineDescription { 
    margin-left: 1em; 
    text-align: center; 
    color: #9F8FA3;
}