.education { 
    color: #e4e6eb;
    font-size: 1.25em;
    font: 20px Georgia, serif; 
    text-align: center;
    display: flex; 
    flex-direction: column;
    align-items: center;
}

.education h1 { 
    margin: 0.5em 0 0 0; 
}

.education a { 
    color: #4fc3f7;
}

.education a:hover { 
    color: #3f99c2; 
    cursor: pointer; 
}