.highSchool { 
    color: #e4e6eb;
    font-size: 1.25em;
    font: 20px Georgia, serif; 
    text-align: center;
    display: flex; 
    flex-direction: column;
    align-items: center;
}

.highSchool .headerTags h2 { 
    margin: 0.25em 0 0 0;
}

.highSchool .headerTags p { 
    margin: 0.5em 0 0 0;
}

.highSchool .highSchoolContent { 
    display: flex; 
    flex-direction: row; 
    align-items: center;
    justify-content: space-between;
    max-width: 90%; 
    margin: 1.25em 0 1em 0;
}

.highSchool .highSchoolContent .highSchoolDescription { 
    width: 50%; 
}

.highSchool .highSchoolContent .highSchoolDescription p { 
    margin: 0.5em 0; 
}

.highSchool #highSchoolDescriptionIntro, .highSchool #highSchoolDescriptionDetails { 
    color: #9F8FA3;
    max-width: 90%;
}

.highSchool .highSchoolContent figure { 
    margin: 0 0 0 0.5em; 
    width: 50%; 
}

.highSchool .highSchoolContent figure img { 
    width: 27.5em; 
    height: 20em;  
}