.contactForm { 
    max-width: 60%; 
    margin-left: auto;
    margin-right: auto; 
    margin-top: 1em;  
}

.contactForm label { 
    margin-right: 0.25em; 
}

.contactForm label, .contactForm input { 
    margin-bottom: 1em; 
}

.contactForm input { 
    margin-right: 2.5em; 
}

.contactForm input:invalid, .contactForm textarea:invalid { 
    border: 2px solid darkred; 
}

.contactForm input:valid, .contactForm textarea:valid { 
    border: 2px solid darkgreen; 
}

.contactForm textarea { 
    width: 100%;
    height: 7em;  
    margin: 1em 0; 
}

.contactForm button {  
    margin-bottom: 1em; 
    padding: 0.75em 1.75em;  
}

.contactForm #submit { 
    background-color: limegreen; 
}

.contactForm #submit:hover { 
    background-color: green; 
    cursor: pointer; 
}