form { 
    max-width: 60%; 
    margin-left: auto;
    margin-right: auto; 
    margin-top: 1em;  
}

form label { 
    margin-right: 0.25em; 
}

form, form input { 
    margin-bottom: 1em; 
}

form input { 
    margin-right: 2.5em; 
}

form input:invalid, form textarea:invalid { 
    border: 2px solid darkred; 
}

form input:valid, form textarea:valid { 
    border: 2px solid darkgreen; 
}

form textarea { 
    width: 100%;
    height: 7em;  
    margin: 1em 0; 
}

form button {  
    margin-bottom: 1em; 
    padding: 0.75em 1.75em;  
}

form .submit { 
    background-color: limegreen; 
}

form .submit:hover { 
    background-color: green; 
    cursor: pointer; 
}